body {
  background-color: #E7C2C0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  background-color: #FFE0E6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/***********************HEADER*****************/
header {
  border-bottom: 1px double #F28987;
  width: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*Logo*/
#leftElements {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#leftElements:hover {
  opacity: 0.5;
  font-size: 16px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px blue;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red, 0 0 80px blue;
  }
}
.pictureLogo {
  margin-left: 40px;
  height: 60px;
  width: 60px;
}

#redPlexText {
  font-weight: bold;
  height: 79;
  width: 20;
  margin-left: 10px;
}

/*Navigation menu*/
nav {
  display: flex;
  flex-direction: row;
}

.topButton {
  width: 200px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 2px 10px 2px;
  font-size: 14px;
  font-weight: bolder;
  margin: 5%;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}

.topButton:hover {
  color: white;
  background: #E63A31;
}

#rightElements {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

/*Bell Icon Components*/
#search {
  height: 25px;
  width: 25px;
  margin: 10px;
}

#search:hover {
  height: 25px;
  width: 20px;
  margin: 13px;
}

#bell {
  margin: 10px;
  position: relative;
}

#bellIcon {
  width: 25px;
  height: 25px;
}

#bell:hover {
  width: 25px;
  height: 25px;
  position: relative;
}

#notificationCounter {
  /*Special position counter*/
  position: absolute;
  top: 0px;
  right: 0px;
  left: 15px;
  height: 10px;
  width: 10px;
  padding: 3px 3px 3px 3px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /*Flex*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/*User profile*/
#userProfile {
  margin: 10px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#userProfile:hover {
  opacity: 0.5;
}

#userName {
  font-weight: 600;
  margin: 20px;
}

#userProfilePicture {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

main {
  /*flex*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: baseline;
}

.arrow {
  width: 26px;
  height: 12px;
}

/*#topMainSection1 
{

    margin-left: 20px;
    margin-right: 20px;

 //flex
 display: flex;
flex-direction: row;
justify-content: space-between;
align-content: space-between;
}


.line 
{
    width: 50px;
    height: 3px;

    background-color: red;

}
*/
.textSection {
  font-size: 16px;
  font-weight: 600;
  /*flex*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mostPopular {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  position: relative;
}

.mostPopular:hover {
  opacity: 0.5;
}

.line {
  position: absolute;
  bottom: -4px;
  left: 3px;
  width: 24px;
  height: 3px;
  background-color: #E63A31;
  border-radius: 30%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  -o-border-radius: 30%;
}

.seeMore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 120px;
}

.aloneArrow {
  margin-left: 3px;
}

.seeMore:hover {
  opacity: 0.5;
}
.seeMore:hover .aloneArrow {
  opacity: 0.5;
}

section {
  /*flex*/
  display: flex;
  flex-direction: row;
}

/*Special Flex*/
.textElement {
  display: flex;
  flex-direction: row;
}

.movieSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/*Movie Section*/
.movie {
  background-color: #FFF1F8;
  padding: 40px;
  margin: 20px;
  width: 182;
  height: 302px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.moviePicture {
  width: 148px;
  height: 220px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.movie:hover {
  opacity: 0.5;
}

.title {
  font-weight: 900;
}

.year {
  font-weight: 600;
}

footer {
  margin-left: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #FFE0E6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/*# sourceMappingURL=styles.css.map */
